.signin {
  &-options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    > div {
      input[type="checkbox"] {
        visibility: hidden;
        display: none;
      }

      input[type="checkbox"] + label:before {
        border: 2px solid #81aad9;
        content: "\00a0";
        display: inline-block;
        height: 13px;
        width: 13px;
        margin-right: 6px;
        border-radius: 2px;
      }

      input[type="checkbox"]:checked + label:before {
        border: 0;
        height: 17px;
        width: 17px;
        background-image: url(../../assets/images/checkbox.png);
        background-repeat: no-repeat;
        margin-right: 6px;
      }

      label {
        font-size: 14px;
        color: #81aad9;
      }
    }
  }

  &-forgot {
    margin-left: auto;

    a {
      font-size: 15px;
      color: #2c61b2;
      text-decoration: none;
    }
  }
}
