.error {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  font-size: 13px;
  color: white;
  background-color: #c33c41;
  height: 32px;
  margin: 4px 0 0 20px;
  padding: 0 20px;
  border-radius: 4px;
  opacity: 0.9;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);

  &:after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #c33c41 transparent;
  }
}
