@import "../../assets/scss/vars.scss";

.input {
  position: relative;
  margin: 14px 0 0;

  &-label {
    font-size: 13px;
    line-height: 16px;
    display: block;
    color: #5b5b5b;

    &.star {
      &:after {
        content: "\2605";
        color: red;
        font-size: 8px;
        position: absolute;
        top: 0px;
        padding: 0 0 0 4px;
      }
    }
  }

  > input {
    font-size: 15px;
    width: 448px;
    height: 48px;
    border: 1px solid $grey;
    outline-color: #92b6de;
    padding: 0 0 0 10px;
  }

  &-showPassword {
    position: absolute;
    top: 30px;
    right: 20px;

    a {
      font-size: 13px;
      color: #7b7b7b;
      border-bottom: 2px dotted #7b7b7b;
      text-decoration: none;
    }
  }
}
