@import "../../assets/scss/vars.scss";

@mixin button {
  height: 50px;
  border: 1px solid $grey;
  border-radius: 10px;
}

.button {
  margin: 10px 0 0;

  .link {
    width: 458px;
    @include button;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #3d3d3d;
      text-decoration: none;
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
  }

  > input {
    width: 460px;
    @include button;
    font-size: 16px;
    cursor: pointer;
    outline: none;

    &.green {
      color: #fffffe;
      background-color: $green;
    }

    &.white {
      background-color: $white;
    }
  }
}
