.forgot {
  &-options {
    font-size: 18px;
    text-align: center;
    padding: 30px 0;

    a {
      text-decoration: none;
      color: #3064b4;
      padding: 0 5px 0;

      &:last-child {
        padding: 0 0 0 5px;
      }
    }
  }
}
